streamlit
langchain
langchain-openai
langchain-community
langchain-groq
langchain-text-splitters
pypdf2
faiss-cpu
python-dotenv
tiktoken
gtts
pypdf
speechrecognition
sentence-transformers>=2.2.2
langchain-embeddings-huggingface
git+https://github.com/langchain-ai/langchain-google-genai.git

